$ORIGIN .
$TTL 3600      ; 1 hour
10.in-addr.arpa         IN SOA  dns01.{{search_domain }}. root.{{search_domain }}. (
                                {{bind9_zone_serial}} ; serial
                                604800     ; refresh (1 week)
                                86400      ; retry (1 day)
                                2419200    ; expire (4 weeks)
                                604800     ; minimum (1 week)
                                )
                        NS      dns01.
$ORIGIN 10.in-addr.arpa.
$TTL 3600
{{primary_dns | ptr_address(3)}}  PTR dns01.{{search_domain}}.
{% if secondary_dns is defined %}
{{secondary_dns | ptr_address(3)}}  PTR dns02.{{search_domain}}.
{% endif %}
{% for entry in bind9_zone_entries %}
{% if entry.rtype == 'A' %}
{{ entry.address | ptr_address(3)}}  PTR {{entry.host}}.{{search_domain}}.
{% endif %}
{% endfor %}
{% for server in groups['cluster'] %}
{{hostvars[server]['ansible_facts']['default_ipv4']['address'] | ptr_address(3)}} PTR {{hostvars[server]['ansible_facts']['hostname']}}.{{search_domain}}.
{% endfor %}